*{
	margin: 3px;
	padding: 5px;
	box-sizing: border-box; /* para que las cajas no se desborden */
	background-repeat: no-repeat;
 	background-attachment: fixed;
	/* background-image: url("../images/fondo7.jpg")   */
}

p{
    background: #efe7c1; 
} 

i{
    background: #ffea85;
} 

input{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #ffea85; 
	margin-top: 10px;  
	padding-left: 10px;
  	margin-bottom: 20px; 
}

select {
	margin-bottom: 1px;
	margin-top: 1px;
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
  	border-color: #ffea85; 
	background-color: #fbfbfb; 
  }

textarea{
	  background-color: #fbfbfb; 
	  width: 910px; 
	  height: 40px; 
	  border-radius: 5px;  
	  border-style: solid; 
	  border-width: 1px; 
	  border-color: #ffea85; 
	  margin-top: 10px;  
	  padding-left: 10px;
	  margin-bottom: 20px; 
	  padding-top: 15px; 
  }

  button{
	height: 45px; 
	padding-left: 2px;
	padding-right: 2px; 	
	margin-bottom: 2px; 
	margin-top: 2px; 	
	text-transform: uppercase;
	background-color: #ffea85; 
	/* border-color: #ffea85;  */
	border-style: solid; 
	border-radius: 10px;	
	width: 100px;   
    cursor: pointer;
}

a{
	color: #000;
  }
  a:link{
	text-decoration: none;
  }
  a:hover {
	color: #ebf310de;
	cursor: pointer;
  }

.padre{
	display: flex;
	flex-flow: column nowrap; 
}
	.header{
		/* background: #2bc8d6; */
		display: flex;
		flex-flow: column nowrap;
	}
		/* .contact_form{	
			width: 460px; 
			height: auto;
			margin: 80px auto;
			border-radius: 10px;  
			padding-top: 30px;
			padding-bottom: 20px;  
			background-color: #fbfbfb; 
			padding-left: 30px; 
		} */
		.contenedorBlanco{
			background: #fefefe; 
			display: flex;
			flex-flow: row nowrap; /* se muestra en una misma linea */
			height: 100px;
			align-items: center;
		}
		.contenedorBeish{
			background: #efe7c1; 
			display: flex;
			flex-flow: row nowrap; /* se muestra en una misma linea */			
			align-items: center;
		}
		.menu{
			/* background: #fefefe; */
			display: flex;
			flex-flow: row nowrap; /* se muestra en una misma linea */
			height: 100px;
			align-items: center;
		}
			.logo{
				/* background: #fefefe; */
				 flex: 1 1 auto; 
				/* height: 20px;  */
			}		
			.nav{
				/* background: #fefefe; */
				flex: 1 1 auto;
				height: 20px;
			}			
			.social{
				/* background: #fefefe; */
				flex: 1 1 auto;
				height: 20px;
			}
		.texto-principal{
			background: #ffea85;	
			margin: 1px;
			padding: 1px;
		
			/* height: 96px; */
		}
			h1{
				background: #ffea85;
			}
	.section{
		/* background: #fefefe; */
		display: flex;
		
	}
		.articulos{
			background: #fefefe;   
			flex: 2 1 auto;
			display: flex; 
			flex-flow: wrap /* cada articulo al lado del otro */
		}
			.article{
				background: #efe7c1; 
				flex: 1 1 40%;
			}
			.navegacion{
				background: #70a3c4;
				flex: 1 1 100%;
			}
		.aside{
			background: #fefefe; 
			flex: 1 1 auto;
		}
			.publicidad{
				background: #efe7c1;
			}
	.footer{
		background: #ffea85;
		display: flex;
		justify-content: center;
	}
	/* .pie{		
		width: 600px;
		background: #ffea85;

		margin: 0px;
		padding: 0px;
	} */

/* media queries de flex - tablet 768 */
@media all and (max-width: 768px){
	.section{
		flex-direction: column;
	}
	.menu{
		flex-direction: column;
		height: auto;
	}
	.aside{
		display: flex;
		justify-content: center;
	}
	.articulos{
		flex-direction: column;
	}
}

/* media queries de flex - dispositivos móviles */
@media all and (max-width: 576px){
	.aside{
		flex-direction: column;
	}
}