*{
	margin: 3px;
	padding: 5px;
	box-sizing: border-box; /* para que las cajas no se desborden */
	background-repeat: no-repeat;
 background-attachment: fixed;
	background-image: url("../images/fondo5.jpg") 
}

p{
    background: #efe7c1;
} 

i{
    background: #efe7c1;
} 

.padre{
	display: flex;
	flex-flow: column nowrap; 
}
	.header{
		/* background: #2bc8d6; */
		display: flex;
		flex-flow: column nowrap;
	}
		.menu{
			/* background: #fefefe; */
			display: flex;
			flex-flow: row nowrap; /* se muestra en una misma linea */
			height: 100px;
			align-items: center;
		}
			.logo{
				/* background: #fefefe; */
				 flex: 1 1 auto; 
				/* height: 20px;  */
			}		
			.nav{
				/* background: #fefefe; */
				flex: 1 1 auto;
				height: 20px;
			}			
			.social{
				/* background: #fefefe; */
				flex: 1 1 auto;
				height: 20px;
			}
		.texto-principal{
			background: #ffea85;	
			margin: 1px;
			padding: 1px;
		
			/* height: 96px; */
		}
			h1{
				background: #ffea85;
			}
	.section{
		/* background: #fefefe; */
		display: flex;
	}
		.articulos{
			background: #fefefe;   /* OK */  
			 /*  #4e4e6a; */
			flex: 2 1 auto;
			display: flex; 
			flex-flow: wrap /* cada articulo al lado del otro */
		}
			.article{
				background: #efe7c1;  /* OK */  
				/* #1f6cb0; */
				flex: 1 1 40%;
			}
			.navegacion{
				background: #70a3c4;
				flex: 1 1 100%;
			}
		.aside{
			background: #fefefe; /*  #f73f52; */			
			flex: 1 1 auto;
		}
			.publicidad{
				background: #efe7c1;   /*  #ffea85; */
			}
	.footer{
		background: #ffea85;
		display: flex;
		justify-content: center;
	}
	.pie{
		/* background: #e6af2e; */
		width: 600px;
		background: #ffea85;

		margin: 0px;
		padding: 0px;
	}

/* media queries de flex - tablet */
@media all and (max-width: 768px){
	.section{
		flex-direction: column;
	}
	.menu{
		flex-direction: column;
		height: auto;
	}
	.aside{
		display: flex;
		justify-content: center;
	}
	.articulos{
		flex-direction: column;
	}
}

/* media queries de flex - dispositivos móviles */
@media all and (max-width: 576px){
	.aside{
		flex-direction: column;
	}
}